.form {
  display: flex;
  align-items: center;
  flex: 1;
}

.formControl {
  margin-bottom: 2.4rem;
  background-color: #fff;
  width: 100%;

  display: flex;
  align-items: center;
}

.formControl button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 300;
  color: #63e44f;
  margin-left: 1rem;
}

.formControl button:focus {
  outline: none;
}

input {
  width: 100%;
  height: 3.2rem;
  font-family: inherit;
  font-size: 1.8rem;
  color: #555;
  border: 0;
  border-bottom: 1px solid #999;
  margin-right: -3.2rem;
  padding: 1.6rem 0;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-size: 1.8rem;
  color: #999;
}
