.head {
  font-size: 7.4rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: lowercase;
  text-align: center;
  margin-top: 4.8rem;
  color: #ddd;
}

/* main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  justify-content: center;
} */
